# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Firebase credentials
**/google-services.json
**/GoogleService-Info.plist
**/firebase_app_id_file.json

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Environment secrets
.env

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/pubspec.lock
.buildlog

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# If you're using Flutter, you might also want to ignore the build directory.
build/

# iOS related
**/ios/**/*.generated.*
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Pods/

# Android related
**/android/**/build/
**/android/.gradle
**/android/captures/
**/android/local.properties

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Flutter/FlutterMacOS.framework
macos/Pods/
macos/.symlinks/

# Android
**/android/**/GeneratedPluginRegistrant.java
android/app/build/
android/.gradle
android/captures/
android/local.properties

# Windows
windows/flutter/GeneratedPluginRegistrant.h
windows/flutter/GeneratedPluginRegistrant.cpp
windows/runner/GeneratedFiles/
